<div class="container">
  <div class="heading">
    <h1>Customers</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer #</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address 1</th>
          <th>Address 2</th>
          <th>Phone</th>
          <th>City</th>
          <th>State</th>
          <th>Zipcode</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of customers">
          <td>{{ c.customerid }}</td>
          <td>{{ c.customername }}</td>
          <td>{{ c.customeremail }}</td>
          <td>{{ c.customeraddress1 }}</td>
          <td>{{ c.customeraddress2 }}</td>
          <td>{{ c.customerphone }}</td>
          <td>{{ c?.city }}</td>
          <td>{{ c?.state }}</td>
          <td>{{ c.zipcode }}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <button ngbTooltip="Edit Customer" type="button" class="btn btn-primary" (click)="edit(c.customerid)"><i class="fas fa-edit"></i></button>
              <button ngbTooltip="Delete Customer" type="button" class="btn btn-primary" (click)="delete(c.customerid)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
